.about {
  background-color: $color3;
}

.about-container {
  @media screen and (min-width: $max-w-base) {
      display: flex;
  align-items: center;
  gap: $large-spacing;
    flex-direction: row;
  }
}
