* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color1;
  font-display: auto;
  font-family: $text;
  font-size: $base-font-size;
  font-weight: 400;
  height: 100%;
  line-height: $base-line-height;
  word-wrap: break-word;
}

main {
  min-height: 60vh;
  padding: 2em 5%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

header {

  align-content: space-between;
  display: flex;
  flex-direction: row;
  font-family: $sans;
  justify-content: space-between;
  padding: $base-spacing 2% 0 2%;
  position: relative;
  margin: 0 auto;

   @media screen and (min-width:48em) {
    padding: $base-spacing;

  }

  .home & {
    background: $color1;
    a {
      color: $white;
    }

    span {
      display: none;
    }
  }
}


.ampersam {
  width: 45px;
  height: 47px;
  max-width: 100%;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  fill: $color1;

  .home &, .writing & {
    fill: white;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin-bottom: $base-spacing;

  @media screen and (min-width:48em) {
    margin-bottom: 0;
  }
}

hr {
  border: none;
  background-color: $color2;
  width: 30%;
  height: 3px;
}

nav {
  ul {
    align-items: flex-start;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }

  li {
    display: inline;
    line-height: 1;
    margin: 0;
  }
  a {
    border-radius: 4px;
    color: $color1;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 1px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-skip-ink: auto;

    &:hover {
      color: $color5;
      text-decoration: solid underline $color5 2px;
    }

    &[data-current="current item"] {
      color: $color5;
      text-decoration: solid underline $color5 2px;
    }
  }
}

footer {
  background: $color3;
  font-size: 1rem;
  padding: $large-spacing;
  text-align: center;

  .inner {
    margin: 0 auto;
    max-width: $max-w-base;
    padding: 0 15px;
  }
}