.home {
    background-color: $color1;

  main {
    padding: 0;
  }

  .greeting h1 {
    color: $color3;
    font-family: $display-bold;
    font-size: $medium-font-size;
    line-height: 1.3;
    margin-bottom: $base-spacing;
    margin: 0 auto;
    max-width: 61rem;
    padding: $base-spacing;

    @media screen and (min-width: $max-w-base) {
      font-size: $large-spacing;
      margin: 0 auto $xx-large-spacing auto;
      padding: $xx-large-spacing $base-spacing;
    }
  }

  h1 {
    margin-bottom: 0;
  }
}

.recent-container {
  background-color: $color3;
  column-gap: $base-spacing;
  display: grid;
  grid-template-areas:
    "book"
    "posts";
  grid-template-columns: 1fr;
  grid-template-rows: auto;

    @media screen and (min-width: $max-w-base) {
      grid-template-areas: 
        "book posts"
        "book posts"
        "book posts"
        "book posts";
    grid-template-columns: repeat(2, 1fr);
  }

  .recent-posts {
    background-color: $color3;
    grid-area: posts;
    max-width: 50rem;
    padding: $base-spacing;

    @media screen and (min-width: 1060px) {
      padding: $base-spacing $xx-large-spacing;
    }

    ul, ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    h2 {
      color: $color1;
      font-family: $sans;
      font-size: $s-font-size;
      font-weight: 900;
      line-height: $display-line-height;
      margin: $x-small-spacing 0 $base-spacing;
   }
  }

  .recent-other {
    background-color: $color3;
    grid-area: book;
    padding: 0 $base-spacing;
    @media screen and (min-width: 1060px) {
      margin-top: -$xx-large-spacing;
    }
  }

  article {
    margin-bottom: $base-spacing;
    
    h3 {
      font-family: $display-bold;
      font-size: 1.3rem;
      line-height: 1.3;
      word-spacing: 2px;
    }

    p {
      font-family: $text;
      font-size: $s-font-size;
      margin: 0;
    }
  } 
}

.book-container {
  margin: $x-large-spacing auto $medium-spacing auto;
  position: relative;
  width: 323px;

  @media screen and (min-width: $max-w-base) {
    margin: 5em auto;
  }

  .sticker-container {
    height:105px;
    left: -20px;
    position: absolute;
    top: -65px;
    width:105px;
    z-index: 3;
  }
  .book-sticker {
    animation: sticker 20s linear infinite;
    background-position: center;
    background: url(./static/img/sticker.svg) no-repeat;
    height:105px;
    position: absolute;
    width:105px;
    }
    
  @keyframes sticker {
   100% {transform: rotate(1turn); }
  }

  .book-sticker__text {
    color: $white;
    font-family: $display-bold;
    padding:30% 0;
    position: absolute;
    text-align: center;
    width:105px;

    @media screen and (min-width: 678px) {
      padding:13.5px 0;
    }
  }

  .book-cover {
    background: $color15;
    box-shadow: $shadow;
    height: 500px;
    max-width: 100%;
    width: 323px;
  }
}