a.read-more {
  background-image: none;
  border: 0;
  color: $color2;
  display: inline;
  font-size: 1.2em;
  font-weight: 600;

  &:hover {
    color: $color1;
  }
}

.pagination {
  color: $color2;
  font-family: $serif;

  a {
    background-image: none;
    text-decoration: none;
  }

 .left {
    float: left;
  }

  .right {
    float: right;
  }
}

#disqus_thread {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: $max-w-base;
}

.posts,
.pages {

  h1,
  h2,
  h3,
  blockquote,
  p,
  span,
  ul,
  ol,
  .pagination,
  .tags {
    max-width: $max-w-base;
  }

h2, h3 {
  font-family: $serif-bold;
}

  p {
    font-weight: 400;
  }
}

  .tags {
    display: block;
    margin-top: 2em;
  }

  /* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: $color7;
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

article {
  max-width: 45rem;
}

.post-list {
  article {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 10px;
    align-items: flex-start;
    justify-content:flex-start;
  }

  & > span {
      justify-self: end;
  }
}