a.read-more {
  background-image: none;
  border: 0;
  color: $color2;
  display: inline;
  font-size: 1.2em;
  font-weight: 600;

  &:hover {
    color: $color1;
  }
}

.pagination {
  color: $color2;
  font-family: $sans;
  margin-top: $base-spacing;


  a {
    background-image: none;
    text-decoration: none;
    text-transform: none;
  }
}

#disqus_thread {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: $max-w-base;
}

.posts,
.pages {

  h1,
  h2,
  h3,
  blockquote,
  p,
  span,
  ul,
  ol,
  .pagination,
  .tags {
    max-width: $max-w-base;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  h2, h3 {
    font-family: $display-bold;
    line-height: 1.2;
  }

  p {
    font-weight: 400;
  }
}

  .tags {
    display: block;
    margin-top: 2em;
  }

  /* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-family: $sans;
  font-size: .7rem;
  padding: .3rem .5rem;
	line-height: 1.2;
	background-color: $color3;
	color: var(--primary);
  border-radius: .5em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: $color2;
	color: $white;
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

article {
  max-width: 45rem;
}

.post-list {
  article {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 10px;
    align-items: flex-start;
    justify-content:flex-start;
  }

  & > span {
      justify-self: end;
  }

  a {
    text-decoration-thickness: 1px;
  }
}

.clip-list {
  article {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 10px;
    align-items: flex-start;
    justify-content:flex-start;
  }

  h3 {
    font-family: $text;
    font-size: $base-font-size;
  }

  & > span {
      justify-self: end;
  }

  a {
    text-decoration-thickness: 1px;
  }
}

.clips-header {
  font-family: $text-bold;
  font-size: $base-font-size;
}

.lh-short {
  line-height: 1.2;
}