@charset "UTF-8";
/* ********************global********************* */ /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//hello.myfonts.net/count/3ada1c");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Content */
body {
  -webkit-font-smoothing: antialiased;
  color: rgb(11, 53, 44);
  font-display: auto;
  font-family: SilvaText-Book;
  font-size: 1.2em;
  font-weight: 400;
  height: 100%;
  line-height: 1.8;
  word-wrap: break-word;
}

main {
  background-color: #ffffff;
  min-height: 60vh;
  padding: 2em 5%;
}

section {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

table {
  border-collapse: collapse;
  margin: 30px auto;
}

td,
th {
  padding: 0.6rem;
}

th {
  background-color: #f2f3f3;
}

tr {
  border-bottom: 1px solid #f2f3f3;
}

tr:last-child {
  border: none;
}

/* Structure */
.inline-container {
  overflow: hidden;
}

.inline {
  display: inline !important;
  vertical-align: middle;
  margin-right: 40px;
}

.inline:first-of-type {
  min-height: 50px;
}

header {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: RozanovaHUM-Light;
  padding: 1.8rem 2% 0 2%;
  position: relative;
}
@media screen and (min-width: 48em) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.8rem;
  }
}
.home header {
  background: rgb(11, 53, 44);
}
.home header a {
  color: #ffffff;
}

header img {
  width: 45px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}

header a {
  border-bottom: 0;
}

hr {
  border: none;
  background-color: rgb(74, 125, 31);
  width: 30%;
  height: 3px;
}

nav ul {
  padding: 0;
}
nav li {
  display: inline;
}
nav a {
  border-radius: 4px;
  color: rgb(11, 53, 44);
  font-size: 0.7em;
  font-weight: 900;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration-skip-ink: auto;
}
nav a:hover {
  color: rgb(255, 177, 233);
  text-decoration: wavy underline rgb(255, 177, 233) 2px;
}
nav a[data-current="current item"] {
  color: rgb(255, 177, 233);
  text-decoration: wavy underline rgb(255, 177, 233) 2px;
}

footer {
  background: rgb(219, 232, 232);
  font-size: 1rem;
  padding: 3.6rem;
  text-align: center;
}
footer .inner {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 15px;
}

@media all and (min-width: 680px) {
  table {
    margin: 40px auto;
  }
}
/* 650 ends*/
::-moz-selection,
::selection {
  background: #ffda09;
  opacity: 0.5;
}

.bold,
strong {
  font-family: SilvaText-Bold;
}
blockquote .bold,
blockquote strong {
  font-family: SilvaDisplay-Bold;
}

em,
i {
  font-family: SilvaText-BookItalic;
}

sub,
sup {
  font-family: SilvaText-Book;
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}

sub {
  top: 0.4em;
}

a {
  color: rgb(11, 53, 44);
}

time {
  font-family: RozanovaHUM-Light;
  font-size: 1rem;
  font-weight: 900;
}

main a,
main a:visited {
  color: currentColor;
  font-weight: 500;
  text-decoration-skip: auto;
  -webkit-text-decoration-skip: auto;
}
main a:focus, main a:hover,
main a:visited:focus,
main a:visited:hover {
  color: rgb(74, 125, 31);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-display: auto;
  font-family: SilvaDisplay-Bold;
  font-weight: 500;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: break-word;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1em;
}
article h1 {
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1em;
}
h2 a {
  border-bottom: 0;
}

.meta {
  display: block;
  font-family: SilvaText-Bold;
  font-size: 0.75em;
}

ol,
ul {
  margin: 30px auto;
  padding-left: 15px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

blockquote {
  background-color: white;
  border: 1px solid rgb(74, 125, 31);
  border-radius: 4px;
  font-family: SilvaText-BookItalic;
  font-weight: 500;
  margin: 20px 0 20px 15px;
  overflow: hidden;
  padding: 50px;
}
blockquote p {
  margin: 0;
}
blockquote p:first-of-type::before {
  content: "“";
  font-size: 1em;
  margin-left: -15px;
  margin-right: 10px;
}
blockquote p:first-of-type::after {
  content: "”";
  font-size: 1em;
  margin-right: -15px;
}

code {
  font-family: "Source Code Pro", monospace;
  font-display: auto;
}

p code {
  font-size: 1em;
  display: inline-block;
  border-radius: 2px;
  background-color: #f2f3f3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(122, 130, 136, 0.25);
  padding: 0 3px;
}

pre {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: hidden;
  overflow-x: auto;
  font-size: 14px;
  padding: 15px;
  border-radius: 4px;
  color: #f8f8f2;
  line-height: 1.4;
  margin: 30px auto;
}

pre code {
  font-size: 14px;
}

small {
  font-size: 0.9rem;
}

small a {
  color: inherit;
}

.listing-posts ul {
  padding-left: 0;
}
.listing-posts li {
  list-style-type: none;
  max-width: 700px;
}
.listing-posts article {
  margin-bottom: 1em;
}
.listing-posts p {
  font-size: 0.9em;
  margin: 0;
}

@media all and (min-width: 680px) {
  .subtitle,
form,
ol,
p,
pre,
ul {
    margin: 20px 0;
  }
  .Posts p {
    margin-top: 0;
  }
  article::after,
header::after {
    margin: 70px;
  }
  blockquote {
    font-size: 1.3em;
  }
  blockquote p {
    margin: 0;
  }
  hr {
    margin: 1em auto;
  }
}
h4 a {
  border: 0;
}

li {
  line-height: 1.4;
  margin-bottom: 10px;
}

.Speaking a,
.inclusion-list a {
  border-bottom: 0;
}
.Speaking h2,
.inclusion-list h2 {
  line-height: 1;
}
.Speaking .pages ul,
.Speaking ul,
.inclusion-list .pages ul,
.inclusion-list ul {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.listing-posts {
  justify-items: stretch;
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-columns: 1fr;
}
.listing-posts h2 {
  font-family: SilvaDisplay-Bold;
  font-size: 1.2em;
  line-height: 1.3;
  margin: 10px 0;
}
.listing-posts li {
  font-size: 0.9em;
}
.listing-posts p,
.listing-posts small {
  font-size: 0.9em;
  line-height: 1.4;
  margin: 0;
}
.listing-posts a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: 0;
}
.listing-posts .post-container {
  background: #ffffff;
  max-width: 700px;
}
@media screen and (min-width: 1080px) {
  .listing-posts .post-container {
    grid-template-columns: 1fr 3fr;
  }
}

.home header img {
  fill: currentColor;
  color: #ffffff;
}
.home main {
  background-color: rgb(11, 53, 44);
  padding: 0;
}
.home .greeting {
  color: rgb(219, 232, 232);
  font-family: SilvaText-BookItalic;
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 7.2rem;
  padding: 7.2rem 1.8rem;
  max-width: 860px;
}
@media screen and (min-width: 1060px) {
  .home .greeting {
    font-size: 1.8rem;
  }
}

.recent-container {
  background-color: rgb(219, 232, 232);
  display: grid;
  column-gap: 1.8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas: "posts" "other";
}
.recent-container .recent-posts {
  background-color: rgb(219, 232, 232);
  grid-area: posts;
  margin-top: -7.2rem;
  padding: 1.8rem;
}
@media screen and (min-width: 1060px) {
  .recent-container .recent-posts {
    padding: 1.8rem 7.2rem;
  }
}
.recent-container .recent-posts ul, .recent-container .recent-posts ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.recent-container .recent-posts h2 {
  font-family: RozanovaHUM-Light;
  font-weight: 900;
  font-size: 0.9em;
  line-height: 1.3;
  margin: 0.4rem 0 1.8rem;
}
.recent-container .recent-other {
  background-color: rgb(219, 232, 232);
  grid-area: other;
  padding-right: 1.8rem;
}
.recent-container .recent-other .book-sticker {
  background: rgb(11, 53, 44);
  background: -moz-linear-gradient(107deg, rgb(11, 53, 44) 0%, rgb(0, 120, 138) 50%, rgba(0, 74, 85, 0.7) 100%);
  background: -webkit-linear-gradient(107deg, rgb(11, 53, 44) 0%, rgb(0, 120, 138) 50%, rgba(0, 74, 85, 0.7) 100%);
  background: linear-gradient(107deg, rgb(11, 53, 44) 0%, rgb(0, 120, 138) 50%, rgba(0, 74, 85, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004a55",endColorstr="#004a55",GradientType=1);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  width: 300px;
  height: 300px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  50% {
    background-position: 100% 50%;
    border-radius: 5% 95% 22% 78%/69% 19% 81% 31%;
  }
  100% {
    background-position: 0% 50%;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}
@media screen and (min-width: 1160px) {
  .recent-container {
    grid-template-areas: "posts posts other" "posts posts other" "posts posts other" "posts posts other";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.recent-container article {
  margin-bottom: 3.6rem;
}
.recent-container article h3 {
  font-family: SilvaDisplay-BoldItalic;
  font-size: 1.4em;
  line-height: 1.3;
  word-spacing: 2px;
}
.recent-container article p {
  font-family: SilvaText-Book;
  margin: 0;
}

/**
 * @license
 * MyFonts Webfont Build ID 3856924, 2020-01-15T20:01:16-5
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: RecoletaAlt-Bold by Latinotype
 * URL: https://www.myfonts.com/fonts/latinotype/recoleta/alt-bold/
 * Copyright: Copyright &#x00A9; 2018 by Jorge Cisterna. All rights reserved.
 *
 * Webfont: RecoletaAlt-Regular by Latinotype
 * URL: https://www.myfonts.com/fonts/latinotype/recoleta/alt-regular/
 * Copyright: Copyright &#x00A9; 2018 by Jorge Cisterna. All rights reserved.
 *
 * Webfont: RozanovaHUM-Light by Variable Type Foundry
 * URL: https://www.myfonts.com/fonts/variable-type-foundry/rozanova/hum-light/
 * Copyright: Copyright © 2019 by Variable Type Foundry. All rights reserved.
 *
 * Webfont: RozanovaHUM-LightIt by Variable Type Foundry
 * URL: https://www.myfonts.com/fonts/variable-type-foundry/rozanova/hum-light-italic/
 * Copyright: Copyright © 2019 by Variable Type Foundry. All rights reserved.
 *
 * Webfont: RozanovaHUM-Bold by Variable Type Foundry
 * URL: https://www.myfonts.com/fonts/variable-type-foundry/rozanova/hum-bold/
 * Copyright: Copyright © 2019 by Variable Type Foundry. All rights reserved.
 *
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: "RozanovaHUM-Light";
  src: url("/static/webfonts/3ADA1C_15_0.eot");
  src: url("/static/webfonts/3ADA1C_15_0.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/3ADA1C_15_0.woff2") format("woff2"), url("/static/webfonts/3ADA1C_15_0.woff") format("woff");
}
@font-face {
  font-family: "SilvaText-Book";
  src: url("/static/webfonts/SilvaText-Book.eot");
  src: url("/static/webfonts/SilvaText-Book.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/SilvaText-Book.woff2") format("woff2"), url("/static/webfonts/SilvaText-Book.woff") format("woff");
}
@font-face {
  font-family: "SilvaText-BookItalic";
  src: url("/static/webfonts/SilvaText-BookItalic.eot");
  src: url("/static/webfonts/SilvaText-BookItalic.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/SilvaText-BookItalic.woff2") format("woff2"), url("/static/webfonts/SilvaText-BookItalic.woff") format("woff");
}
@font-face {
  font-family: "SilvaText-MediumItalic";
  src: url("/static/webfonts/SilvaText-MediumItalic.eot");
  src: url("/static/webfonts/SilvaText-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/SilvaText-MediumItalic.woff2") format("woff2"), url("/static/webfonts/SilvaText-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "SilvaDisplay-Bold";
  src: url("/static/webfonts/SilvaDisplay-Bold.eot");
  src: url("/static/webfonts/SilvaDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/SilvaDisplay-Bold.woff2") format("woff2"), url("/static/webfonts/SilvaDisplay-Bold.woff") format("woff");
}
@font-face {
  font-family: "SilvaDisplay-BoldItalic";
  src: url("/static/webfonts/SilvaDisplay-BoldItalic.eot");
  src: url("/static/webfonts/SilvaDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/SilvaDisplay-BoldItalic.woff2") format("woff2"), url("/static/webfonts/SilvaDisplay-BoldItalic.woff") format("woff");
}

/*# sourceMappingURL=style.css.map */
