@charset "UTF-8";
/* ********************global********************* */ /* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//hello.myfonts.net/count/3ada1c");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: rgb(11, 53, 44);
  font-display: auto;
  font-family: SilvaText-Light;
  font-size: 1.45rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.6;
  word-wrap: break-word;
}

main {
  min-height: 60vh;
  max-width: 110rem;
  padding: 2em 5%;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

header {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  font-family: RozanovaHUM-Light;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.6rem 2% 0 2%;
  position: relative;
}
@media screen and (min-width: 48em) {
  header {
    padding: 1.6rem;
  }
}
.home header {
  background: rgb(11, 53, 44);
}
.home header a {
  color: #ffffff;
}
.home header span {
  display: none;
}

.ampersam {
  width: 50px;
  height: 52.222px;
  max-width: 100%;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  fill: rgb(11, 53, 44);
}
.home .ampersam, .writing .ampersam {
  fill: white;
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 48em) {
  .logo-container {
    margin-bottom: 0;
  }
}

hr {
  border: none;
  background-color: rgb(74, 125, 31);
  width: 30%;
  height: 3px;
}

nav ul {
  align-items: flex-start;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
}
nav li {
  display: inline;
  line-height: 1;
  margin: 0;
}
nav a {
  border-radius: 4px;
  color: rgb(11, 53, 44);
  font-size: 0.9rem;
  font-weight: 900;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: rgb(184, 138, 71);
  text-decoration: solid underline rgb(184, 138, 71) 1px;
}
nav a[data-current="current item"] {
  color: rgb(11, 53, 44);
  text-decoration: solid underline rgb(184, 138, 71) 1px;
}

footer {
  background: rgb(157, 208, 199);
  color: rgb(11, 53, 44);
  font-size: 1rem;
  text-align: center;
  position: relative;
}
footer::after {
  content: "";
  position: absolute;
  display: block;
  height: 7px;
  width: 100%;
  margin: 0 auto;
  background: rgb(157, 208, 199);
  background: repeating-linear-gradient(-45deg, rgb(157, 208, 199), rgb(157, 208, 199) 4px, transparent 2px, transparent 7px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom: 0;
}
footer .inner {
  margin: 0 auto;
  max-width: 50rem;
  padding: 3.2rem;
}
footer a {
  color: rgb(11, 53, 44);
  text-decoration-color: rgb(11, 53, 44);
}

::-moz-selection,
::selection {
  background: rgb(255, 201, 236);
  opacity: 0.5;
}

.bold,
strong {
  font-family: SilvaDisplay-Bold;
}
blockquote .bold,
blockquote strong {
  font-family: SilvaDisplay-BoldItalic;
}

em,
i {
  font-family: SilvaText-LightItalic;
}

sub,
sup {
  font-family: SilvaText-Light;
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}

sub {
  top: 0.4em;
}

a {
  color: rgb(11, 53, 44);
  text-decoration-color: rgb(184, 138, 71);
  text-decoration-skip: auto;
  -webkit-text-decoration-skip: auto;
}

time {
  font-family: RozanovaHUM-Light;
}

main a,
main a:visited {
  color: currentColor;
  font-weight: 500;
}
main a:focus, main a:hover,
main a:visited:focus,
main a:visited:hover {
  color: rgb(184, 138, 71);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-display: auto;
  font-family: SilvaDisplay-Bold;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: break-word;
}

h1 {
  font-size: 3rem;
}
article h1 {
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.45rem;
}

.post h1,
.post h2,
.post h3,
.post blockquote,
.post p,
.post span,
.post ul,
.post ol,
.post .pagination,
.post .tags,
.pages h1,
.pages h2,
.pages h3,
.pages blockquote,
.pages p,
.pages span,
.pages ul,
.pages ol,
.pages .pagination,
.pages .tags {
  max-width: 50rem;
}

.meta {
  display: block;
  font-family: SilvaDisplay-Bold;
  font-size: 0.75em;
}

ol,
ul {
  margin: 30px auto;
  padding-left: 15px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

blockquote {
  background-color: white;
  border: 1px solid rgb(74, 125, 31);
  border-radius: 4px;
  font-family: SilvaText-LightItalic;
  font-weight: 500;
  margin: 20px 0 20px 15px;
  overflow: hidden;
  padding: 50px;
}
blockquote p {
  margin: 0;
}
blockquote p:first-of-type::before {
  content: "“";
  font-size: 1em;
  margin-left: -15px;
  margin-right: 10px;
}
blockquote p:first-of-type::after {
  content: "”";
  font-size: 1em;
  margin-right: -15px;
}

code {
  font-family: "Source Code Pro", monospace;
  font-display: auto;
}

p code {
  font-size: 1em;
  display: inline-block;
  border-radius: 2px;
  background-color: rgb(219, 232, 232);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(122, 130, 136, 0.25);
  padding: 0 3px;
}

pre {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: hidden;
  overflow-x: auto;
  font-size: 14px;
  padding: 15px;
  border-radius: 4px;
  color: #f8f8f2;
  line-height: 1.4;
  margin: 30px auto;
}

pre code {
  font-size: 14px;
}

small {
  font-size: 0.9rem;
}

small a {
  color: inherit;
}

.listing-posts ul {
  padding-left: 0;
}
.listing-posts li {
  list-style-type: none;
  max-width: 50rem;
}
.listing-posts article {
  margin-bottom: 1em;
}
.listing-posts p {
  font-size: 0.9em;
  margin: 0;
}

@media all and (min-width: 680px) {
  .subtitle,
form,
ol,
p,
pre,
ul {
    margin: 20px 0;
  }
  .Posts p {
    margin-top: 0;
  }
  article::after,
header::after {
    margin: 70px;
  }
  blockquote {
    font-size: 1.3rem;
  }
  blockquote p {
    margin: 0;
  }
  hr {
    margin: 1em auto;
  }
}
h4 a {
  border: 0;
}

li {
  line-height: 1.4;
  margin-bottom: 10px;
}

.Speaking a,
.inclusion-list a {
  border-bottom: 0;
}
.Speaking h2,
.inclusion-list h2 {
  line-height: 1;
}
.Speaking .pages ul,
.Speaking ul,
.inclusion-list .pages ul,
.inclusion-list ul {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.listing-posts {
  justify-items: stretch;
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-columns: 1fr;
}
.listing-posts h2 {
  font-family: SilvaDisplay-Bold;
  font-size: 1.2em;
  line-height: 1.3;
  margin: 10px 0;
}
.listing-posts li {
  font-size: 0.9em;
}
.listing-posts p,
.listing-posts small {
  font-size: 0.9em;
  line-height: 1.4;
  margin: 0;
}
.listing-posts a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: 0;
}
.listing-posts .post-container {
  background: #ffffff;
  max-width: 50rem;
}
@media screen and (min-width: 1080px) {
  .listing-posts .post-container {
    grid-template-columns: 1fr 3fr;
  }
}

img {
  max-width: 100%;
  display: block;
}

.img-only {
  margin: 0 -15px;
}
.img-only img {
  border: solid rgb(219, 232, 232) 2px;
}

.img-only-source {
  margin: 0 -15px;
  text-align: center;
}

video {
  max-width: 100%;
  height: auto;
}

embed,
iframe,
object {
  max-width: 100%;
}

/***********************Image GRid***********************/
.img-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25%;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  background: pink;
}
.img-grid img {
  max-width: 100%;
}

@media screen and (min-width: 350px) {
  .img-grid {
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 50%;
  }
}
@media all and (min-width: 680px) {
  .img-only {
    margin: 0 -30px;
  }
  .img-only-source {
    margin: 0 -30px;
  }
}
@media screen and (min-width: 650px) {
  .img-grid {
    grid-template-columns: 32.677% 32.677% 32.677%;
  }
}
.cover-image-container img {
  max-height: 100px;
  max-width: 100%;
  margin: 0 auto;
}

.Speaking .cover-image-container {
  background-image: url("/static/img/speaking.jpg");
  background-size: cover;
  -webkit-filter: grayscale(1) brightness(0.75) contrast(1.05);
  filter: grayscale(1) brightness(0.75) contrast(1.05);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full {
  max-width: 100%;
}

.medium {
  max-width: 900px;
}

.limit {
  max-width: 50rem;
  margin: 3.2rem 0;
}

.home {
  background-color: rgb(11, 53, 44);
}
.home main {
  padding: 0;
  max-width: 100%;
}
.home .greeting h1 {
  color: rgb(219, 232, 232);
  font-family: SilvaDisplay-Bold;
  font-size: 1.9rem;
  line-height: 1.3;
  margin-bottom: 1.6rem;
  margin: 0 auto;
  max-width: 61rem;
  padding: 1.6rem;
}
@media screen and (min-width: 50rem) {
  .home .greeting h1 {
    font-size: 3.2rem;
    margin: 0 auto 6.4rem auto;
    padding: 6.4rem 1.6rem;
  }
}
.home h1 {
  margin-bottom: 0;
}

.recent-container {
  background-color: rgb(219, 232, 232);
  column-gap: 1.6rem;
  display: grid;
  grid-template-areas: "book" "posts";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.recent-container::before {
  content: "";
  position: absolute;
  display: block;
  height: 7px;
  width: 100%;
  background: rgb(11, 53, 44);
  background: repeating-linear-gradient(-45deg, rgb(11, 53, 44), rgb(11, 53, 44) 4px, transparent 2px, transparent 7px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom: 0;
}
@media screen and (min-width: 50rem) {
  .recent-container {
    grid-template-areas: "book posts" "book posts" "book posts" "book posts";
    grid-template-columns: repeat(2, 1fr);
  }
}
.recent-container .recent-posts {
  background-color: rgb(219, 232, 232);
  grid-area: posts;
  max-width: 50rem;
  padding: 1.6rem;
}
@media screen and (min-width: 1060px) {
  .recent-container .recent-posts {
    padding: 1.6rem 6.4rem;
  }
}
.recent-container .recent-posts ul, .recent-container .recent-posts ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.recent-container .recent-posts h2 {
  color: rgb(11, 53, 44);
  font-family: RozanovaHUM-Light;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.3;
  margin: 0.4rem 0 1.6rem;
}
.recent-container .recent-other {
  background-color: rgb(219, 232, 232);
  grid-area: book;
  padding: 0 1.6rem;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 1060px) {
  .recent-container .recent-other {
    margin-top: -6.4rem;
  }
}
.recent-container article {
  margin-bottom: 1.6rem;
}
.recent-container article h3 {
  font-family: SilvaDisplay-Bold;
  font-size: 1.3rem;
  line-height: 1.3;
  word-spacing: 2px;
}
.recent-container article p {
  font-family: SilvaText-Light;
  font-size: 1rem;
  margin: 0;
}

.book-container {
  margin: 4.8rem auto 2rem auto;
  position: relative;
  width: 300px;
}
@media screen and (min-width: 50rem) {
  .book-container {
    margin: 5em auto;
  }
}
.book-container .sticker-container {
  height: 105px;
  left: -20px;
  position: absolute;
  top: -65px;
  width: 105px;
  z-index: 3;
}
.book-container .book-sticker {
  animation: sticker 20s linear infinite;
  background-position: center;
  background: url(./static/img/sticker.svg) no-repeat;
  height: 105px;
  position: absolute;
  width: 105px;
}
@keyframes sticker {
  100% {
    transform: rotate(1turn);
  }
}
.book-container .book-sticker__text {
  color: #ffffff;
  font-family: SilvaDisplay-Bold;
  padding: 30% 0;
  position: absolute;
  text-align: center;
  width: 105px;
}
@media screen and (min-width: 678px) {
  .book-container .book-sticker__text {
    padding: 13.5px 0;
  }
}
.book-container .book-cover {
  background: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  height: 464.4px;
  max-width: 100%;
  width: 300px;
}
.book-container .book-cover span {
  color: #ffffff;
  display: block;
  font-size: 1.2rem;
  padding-top: 55%;
  text-align: center;
}
.book-container .book-cover:hover {
  background-color: rgb(59, 117, 124);
}

body.writing {
  background: rgb(11, 53, 44);
}
body.writing nav a {
  color: #ffffff;
}
body.writing nav a:hover {
  color: rgb(184, 138, 71);
  text-decoration: solid underline rgb(184, 138, 71) 1px;
}
body.writing nav a[data-current="current item"] {
  color: #ffffff;
  text-decoration: solid underline rgb(184, 138, 71) 1px;
}
body.writing article a {
  color: #ffffff !important;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1px;
}
body.writing article a span {
  color: rgb(219, 232, 232);
}
body.writing h1 {
  color: rgb(219, 232, 232);
}
body.writing .post-list article {
  margin-top: 2rem;
}
@media screen and (min-width: 50rem) {
  body.writing .post-list article {
    align-items: center;
    display: grid;
    column-gap: 1.6rem;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
  }
}
body.writing .post-list article > span {
  color: rgb(219, 232, 232);
  font-size: 0.9rem;
  justify-self: end;
  line-height: 1;
}
@media screen and (max-width: 50rem) {
  body.writing .post-list article > span {
    justify-self: start;
  }
}
body.writing .post-list article a {
  text-decoration-color: #ffffff;
  text-decoration: solid underline rgb(184, 138, 71) 1px;
}

.post {
  background-color: #ffffff;
}

article {
  max-width: 50rem;
}

.tags {
  display: block;
  margin-top: 2rem;
}

a[rel=tag],
a[rel=tag]:visited {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: RozanovaHUM-Light;
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
  line-height: 1.2;
  background-color: rgb(219, 232, 232);
  color: var(--primary);
  border-radius: 0.5em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel=tag]:hover {
  border: 1px solid var(--primary);
  background-color: rgb(74, 125, 31);
  color: #ffffff;
}

a[rel=tag]:last-child {
  margin-right: 0;
}

.pagination {
  color: rgb(74, 125, 31);
  font-family: RozanovaHUM-Light;
  margin-top: 1.6rem;
}
.pagination a {
  background-image: none;
  text-transform: none;
}

#disqus_thread {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 50rem;
}

.clip-list article {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.clip-list h3 {
  font-family: SilvaText-Light;
  font-size: 1.45rem;
}
.clip-list > span {
  justify-self: end;
}
.clip-list a {
  text-decoration-thickness: 1px;
}

.clips-header {
  font-family: SilvaDisplay-Bold;
  font-size: 1.45rem;
}

.about {
  background-color: rgb(219, 232, 232);
}
.about h2 {
  font-family: SilvaDisplay-BoldItalic;
}

.about-container {
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 50rem) {
  .about-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
  }
}
.about-container p {
  font-size: 1.45rem;
}
@media screen and (max-width: 50rem) {
  .about-container h1 {
    font-size: 1.9rem;
    margin: 1.45rem 0;
  }
}

.select-container::before {
  content: "";
  position: absolute;
  display: block;
  height: 7px;
  width: 68%;
  margin: 0 auto;
  background: rgb(59, 117, 124);
  background: repeating-linear-gradient(-45deg, rgb(59, 117, 124), rgb(59, 117, 124) 4px, transparent 2px, transparent 7px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom: 0;
}

#select-works {
  color: rgb(184, 138, 71);
  margin-bottom: 1.6rem;
  padding-top: 1.6rem;
}

.about-select ul {
  margin-top: 1rem;
  padding-left: 0;
}
.about-select li {
  list-style-type: none;
  font-size: 1rem;
}
.about-select a {
  font-family: SilvaDisplay-Bold;
}
@media screen and (min-width: 50rem) {
  .about-select {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
.about-select div {
  max-width: 25rem;
}

/**
 * @license
 * MyFonts Webfont Build ID 3856924, 2020-01-15T20:01:16-5
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: RecoletaAlt-Bold by Latinotype
 * URL: https://www.myfonts.com/fonts/latinotype/recoleta/alt-bold/
 * Copyright: Copyright &#x00A9; 2018 by Jorge Cisterna. All rights reserved.
 *
 * Webfont: RecoletaAlt-Regular by Latinotype
 * URL: https://www.myfonts.com/fonts/latinotype/recoleta/alt-regular/
 * Copyright: Copyright &#x00A9; 2018 by Jorge Cisterna. All rights reserved.
 *
 * Webfont: RozanovaHUM-Light by Variable Type Foundry
 * URL: https://www.myfonts.com/fonts/variable-type-foundry/rozanova/hum-light/
 * Copyright: Copyright © 2019 by Variable Type Foundry. All rights reserved.
 *
 * Webfont: RozanovaHUM-LightIt by Variable Type Foundry
 * URL: https://www.myfonts.com/fonts/variable-type-foundry/rozanova/hum-light-italic/
 * Copyright: Copyright © 2019 by Variable Type Foundry. All rights reserved.
 *
 * Webfont: RozanovaHUM-Bold by Variable Type Foundry
 * URL: https://www.myfonts.com/fonts/variable-type-foundry/rozanova/hum-bold/
 * Copyright: Copyright © 2019 by Variable Type Foundry. All rights reserved.
 *
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: "RozanovaHUM-Light";
  src: url("/static/webfonts/3ADA1C_15_0.eot");
  src: url("/static/webfonts/3ADA1C_15_0.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/3ADA1C_15_0.woff2") format("woff2"), url("/static/webfonts/3ADA1C_15_0.woff") format("woff");
}
@font-face {
  font-family: "SilvaText-Light";
  src: url("/static/webfonts/SilvaText-Light.eot");
  src: url("/static/webfonts/SilvaText-Light.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/SilvaText-Light.woff2") format("woff2"), url("/static/webfonts/SilvaText-Light.woff") format("woff");
}
@font-face {
  font-family: "SilvaText-LightItalic";
  src: url("/static/webfonts/SilvaText-LightItalic.eot");
  src: url("/static/webfonts/SilvaText-LightItalic.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/SilvaText-LightItalic.woff2") format("woff2"), url("/static/webfonts/SilvaText-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "SilvaDisplay-Bold";
  src: url("/static/webfonts/SilvaDisplay-Bold.eot");
  src: url("/static/webfonts/SilvaDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/SilvaDisplay-Bold.woff2") format("woff2"), url("/static/webfonts/SilvaDisplay-Bold.woff") format("woff");
}
@font-face {
  font-family: "SilvaDisplay-BoldItalic";
  src: url("/static/webfonts/SilvaDisplay-BoldItalic.eot");
  src: url("/static/webfonts/SilvaDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/static/webfonts/SilvaDisplay-BoldItalic.woff2") format("woff2"), url("/static/webfonts/SilvaDisplay-BoldItalic.woff") format("woff");
}

/*# sourceMappingURL=style.css.map */
