* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $green-jungle;
  -webkit-font-smoothing: antialiased;
  color: $green-seafoam;
  font-display: auto;
  font-family: $serif;
  font-size: $base-font-size;
  font-variation-settings: "opsz" 9;
  font-weight: 300;
  height: 100%;
  line-height: $base-line-height;
  word-wrap: break-word;
}

main {
  min-height: 60vh;
  max-width: 110rem;
  padding: 2em 4%;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

header {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  font-family: $sans;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 110rem;
  padding: $base-spacing 4% 0 4%;
  position: relative;
  

   @media screen and (min-width:48em) {

  }

  .home & {
    background: $green-jungle;
    a {
      color: $green-seafoam;
    }

    span {
      display: none;
    }
  }
}


.ampersam {
  width: 60px;
  height: 62.666664px;
  max-width: 100%;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  fill: $green-seafoam;

  &:hover {
    fill: $green-palm2;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin-bottom: $base-spacing;

  @media screen and (min-width:48em) {
    margin-bottom: 0;
  }
}

hr {
  border: none;
  background-color: $green-palm2;
    margin: 2em auto;
  width: 40%;
  height: 3px;
}

nav {
  ul {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: $s-font-size;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    line-height: 1;
    margin: 0;
  }

  a {
    border-radius: 4px;
    color: $green-seafoam;
    font-size: $xs-font-size;
    font-weight: 400;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $green-palm2;
      text-decoration: solid underline $green-palm2 2px;
    }

    &[data-current="current item"] {
      color: $green-seafoam;
      text-decoration: solid underline $green-palm2 2px;
    }
  }
}

footer {
  background: $green-seafoam;
  color: $green-jungle;
  font-family: $sans;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 7px;
    width: 100%;
    margin: 0 auto;
    background: $green-seafoam;
    background: repeating-linear-gradient(
      -45deg,
      $green-seafoam,
      $green-seafoam 4px,
      transparent 2px,
      transparent 7px
    );
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-bottom: 0;
  }

  .inner {
    margin: 0 auto;
    max-width: $max-w-base;
    padding: $large-spacing 4% $medium-spacing 4%;
  }

  a {
    color: $green-jungle;
    text-decoration-color: $green-jungle;
  }

  span {
    display: block;
    margin-bottom: $small-spacing;  
  }
}