* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $green-seafoam;
  -webkit-font-smoothing: antialiased;
  color: $green-jungle;
  font-display: auto;
  font-family: $serif;
  font-size: $base-font-size;
  font-variation-settings: "opsz" 9;
  font-weight: 350;
  height: 100%;
  line-height: $base-line-height;
  word-wrap: break-word;
}

main {
  min-height: 60vh;
  max-width: 100rem;
  padding: 2rem 4%;
  margin: 0 auto;

}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

header {
  background: white;
  border-bottom: 4px $green-jungle solid;
  border-top: 4px $green-jungle solid;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  font-family: $sans;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 110rem;
  padding: $base-spacing 4%;
  position: relative;
}


.ampersam {
  fill: $gold;
  width: 50px;
  max-width: 100%;
  margin-right: 20px;
  display: inline-block;
  vertical-align: bottom;
  opacity: .92;
  position: absolute;

  &:hover {
    fill: $green-jungle;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

hr {
  border: none;
  background-color: $gold;
    margin: 2em auto;
  width: 40%;
  height: 3px;
}

nav {
  ul {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: $s-font-size;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    line-height: 1;
    margin: 0;
  }

  a {
    border-radius: 4px;
    color: $green-jungle;
    font-size: $xs-font-size;
    font-weight: 600;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &:hover, &[data-current="current item"] {
      color: $teracotta;
      text-decoration: solid underline $teracotta 2px;
    }
  }
}

footer {
  color: $green-jungle;
  font-family: $sans;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  position: relative;

  .inner {
    margin: 0 auto;
    max-width: $max-w-base;
    padding: $large-spacing 4% $medium-spacing 4%;
  }

  a {
    color: $green-jungle;
    text-decoration-color: $gold;
  }

  span {
    display: block;
    margin-bottom: $small-spacing;  
  }
}