.home {
    background-color: $green-jungle;

  .greeting h1 {
    color: $green-seafoam;
    font-family: $serif;
    font-size: $medium-font-size;
    font-variation-settings: "opsz" 72;
    font-weight: 200;
    line-height: 1.3;
    margin-bottom: $base-spacing;
    margin: 0 auto;
    max-width: 61rem;
    padding: $base-spacing;
    text-align: center;

    @media screen and (min-width: $max-w-base) {
      font-size: $large-spacing;
      margin: 0 auto $xx-large-spacing auto;
      padding: $xx-large-spacing $base-spacing;
    }
  }
}

  .recent-posts {
    padding: $base-spacing 0;

    @media screen and (min-width: 1060px) {
      padding: $xx-large-spacing;
    }

    h2 {
      color: $green-seafoam;
      font-family: $sans;
      font-size: $s-font-size;
      font-weight: 800;
      letter-spacing: 2px;
      line-height: $display-line-height;
      margin: $large-spacing 0;
      text-align: center;
      text-transform: uppercase;
   }

    ul, ol {
      display: grid;
      grid-template-columns: 1fr;
      list-style-type: none;
      margin: 0;
      padding: 0;
      gap: 20px 90px;
  
   @media screen and (min-width: $max-w-base) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1060px) {
      grid-template-columns: repeat(3, 1fr);
    }

    li {
        color: $green-seafoam;
    }

   article {
    margin-bottom: $base-spacing;
    
    h3 {
      font-family: $serif;
      font-size: $medium-font-size;
      line-height: 1.3;
      margin: $small-spacing 0;
      word-spacing: 2px;
      font-weight: 400;
      font-style: italic;
      font-variation-settings: "opsz" 50;
    }

    p {
      font-family: $serif;
      font-size: $alt-base-font-size;
      margin: 0;
    }

    time {
      color: $green-seafoam;
      display: block;
      font-size: $s-font-size;
    }

    a {
      text-decoration-color: $gold;
      &:hover {
        color: $gold;
      }
    }
  } 
  }
  }

  .recent-clips {
    padding: $base-spacing;

    @media screen and (min-width: 1060px) {
      padding: $xx-large-spacing;
    }

    h2 {
      color: $green-seafoam;
      font-family: $sans;
      font-size: $s-font-size;
      font-weight: 800;
      letter-spacing: 2px;
      line-height: $display-line-height;
      margin: $large-spacing 0;
      text-align: center;
      text-transform: uppercase;
   }

    ul, ol {
      display: grid;
      grid-template-columns: 1fr;
      list-style-type: none;
      margin: 0;
      padding: 0;
      gap: 50px;
  
   @media screen and (min-width: $max-w-base) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1060px) {
      grid-template-columns: repeat(4, 1fr);
    }

    li {
        color: $green-seafoam;
      // &:nth-child(2){
      //   background-color: white;
      //   color: $green-jungle;
      // }
    }

   article {
    margin-bottom: $base-spacing;
    
    h3 {
      font-family: $serif;
      font-size: $base-font-size;
      line-height: 1.3;
      margin: $small-spacing 0;
      word-spacing: 2px;
    }

    p {
      font-family: $serif;
      font-size: 1rem;
      margin: 0;
    }

    time {
      color: $green-palm2;
      display: block;
      font-size: $s-font-size;
    }

    a {
      text-decoration-color: $green-palm2;
      &:hover {
        color: $green-palm2;
      }
    }
  } 
  }
  }

.book-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 5rem 0;
  position: relative;
  margin: 0 auto;
    max-width: 1000px;

  @media screen and (min-width: $max-w-base) {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .book-container {
    position: relative;
    width: 300px;
    margin: 0 auto;

    @media screen and (min-width: $max-w-base) {
      margin: 0;  
    }

    .sticker-container {
      height:105px;
      left: -20px;
      position: absolute;
      top: -65px;
      width:105px;
      z-index: 3;
    }

    .book-sticker {
      animation: sticker 22s linear infinite;
      background-position: center;
      background: url(/static/img/pages/sticker.svg) no-repeat;
      fill: $gold;
      height:105px;
      position: absolute;
      width:105px;
    }
      
    @keyframes sticker {
      100% {transform: rotate(1turn); }
    }

    .book-sticker__text {
      color: $green-seafoam;
      font-family: $serif;
      font-size: $base-font-size;
      font-weight: 700;
      line-height: 1;
      padding:31.5px 0;
      position: absolute;
      text-align: center;
      top: -4px;
      width:105px;

      @media screen and (min-width: 678px) {
        padding:13.5px 0;
      }
    }

    .book-cover {
      background: url(/static/img/pages/idc-book-cover.webp) no-repeat;
      background-size: cover;
      box-shadow: $shadow;
      height: 464.4px;
      max-width: 100%;
      width: 300px;
    }
  }

  .book-caption {
    color: $green-seafoam;
    font-weight: 300;
    font-size: $base-font-size;
    margin: $x-small-spacing auto 0 auto;
    max-width: 500px;
    padding: $base-spacing;

    @media screen and (min-width: $max-w-base) {
      margin: 0;
      padding: 0;

    }

  }
}

  


  // &::before {
  //   content: '';
  //     position: absolute;
  //     display: block;
  //     height: 7px;
  //     width: 100%;

  //     background: $green-jungle;
  //     background: repeating-linear-gradient(
  //       -45deg,
  //       $green-jungle,
  //       $green-jungle 4px,
  //       transparent 2px,
  //       transparent 7px
  //     );
  //     -webkit-backface-visibility: hidden;
  //     backface-visibility: hidden;
  //     border-bottom: 0;
  // }