body.writing {

  .post-list {
    max-width: $max-w-base;
    li {
      list-style-type: none;
      margin-top: $base-spacing;
      @media screen and (min-width: $max-w-base) {
        align-items: center;
        display: grid;
        column-gap: $base-spacing;
        grid-template-columns: 1fr 7fr;
        grid-template-rows: 1fr;
        margin-top: 3rem;

      } 

      & > span {
        font-size: $xs-font-size;
        line-height: 1;
        @media screen and (max-width: $max-w-base) {
          justify-self: start;
        } 
      }
    

      h2 {
        font-size: $base-font-size;
        margin-top: 0;
        font-style: italic;
        font-variation-settings: "opsz" 72;
        @media screen and (min-width: $max-w-base) {
          font-size: $medium-font-size;
        }
      }
      a {
        text-decoration: solid underline $gold 2px;
      }
      
    }
  }
}

// Post
.post {

  article {
    max-width: 62rem;
    margin: 0 auto;
  }

  h1 {
    color: $gold;
    font-weight: 500;
    font-size: 3.5rem;
    font-style: italic;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: $medium-font-size;
    margin-top: $large-spacing; 
    margin-bottom: $small-spacing;
    font-weight: 600;
    font-variation-settings: "opsz" 72;

  }

  time {
    display: block;
    margin: $base-spacing auto;
  }

  li {
    line-height: $base-line-height;
    margin-bottom: $small-spacing;
  }

  ul, iframe, img {
    margin: $base-spacing auto;
  }

/*   a {
    background-image: none;
    color: $green-seafoam;
    font-family: $sans;
    font-size: $s-font-size;
    font-weight: 700;
    text-transform: uppercase;
  } */

  .tags {
    display: block;
    margin: $large-spacing auto $base-spacing auto;
  }

  a[rel="tag"],
  a[rel="tag"]:visited {
    background-color: $green-seafoam;
    border: 1px solid $green-jungle;
    display: inline-block;
    letter-spacing: .1em;
    line-height: .9;
    margin: 0 .5em .5em 0;
    border-radius: .4rem;
    font-family: $sans;
    font-size: .7rem;
    font-weight: 563;
    padding: .3rem .4rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  a[rel="tag"]:hover {

      background-color: $green-seafoam;
    color: $green-jungle;

  }

  a[rel="tag"]:last-child {
    margin-right: 0;
  }

  p {
    
  }
}


// Post meta





#disqus_thread {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: $max-w-base;
}



// Clips

.clip {
  background-color: $green-jungle;
}

.clips-header {
  font-family: $serif;
  font-size: $base-font-size;
  text-align: center;
}