/* ********************global********************* */

$green-jungle: rgb(11, 53, 44);
$green-palm: rgb(74, 125, 31);
$green-palm2: rgb(140, 238, 59);
$green-seafoam: rgb(219, 232, 232);

$flamingo: rgb(255, 177, 233);
$flamingo-light: rgb(255, 201, 236);
$flamingopink:#e8b2ad;
$flamingo-lighest: lighten($flamingo, 15%);


$teracotta: rgb(171,72,47);


$aqua: rgb(59,117,124);
$aqua-light:lighten( $aqua, 15% );

$gold: rgb(184,138,71);
$gold-bright: lighten( $gold, 20%);
$gold-other: #ebbfa2;



// $green-jungle4: rgb(233, 253, 249);
// $color6: rgb(209, 251, 242);

$shadow: 0 0 3px rgba(0, 0, 0, 0.2);

$serif: Fraunces;
$sans: Manrope;

$max-w-base: 50rem;
$xs-font-size: .9rem;
$s-font-size: 1rem;
$alt-base-font-size: 1.2rem;
$base-font-size: 1.5rem;
$alt-medium-font-size: 1.7rem;
$medium-font-size: 1.9rem;
$large-font-size: 2.5rem;

$base-line-height: 1.7;
$display-line-height: 1.3;
$base-spacing: $base-line-height * 1rem;
$x-small-spacing: .4rem;
$small-spacing: .6rem;
$medium-spacing: $base-spacing * 1.25;
$large-spacing: $base-spacing * 2;
$x-large-spacing: $base-spacing * 3;
$xx-large-spacing: $base-spacing * 4;
$xxx-large-spacing: $base-spacing * 5;
@import "reset";
@import "global";
@import "type";
@import "img_videos";
@import "home";

@import "posts";
@import "about";
@import "fonts";
@import "book"; 
@import "inclusion_books"; 
@import "links"; 
