<article>
  <h2>Hi, I'm Sameera.</h2>

<p>
  I am a designer, writer, speaker, educator, manager, home chef, and pet parent. I call Bombay, Curaçao, and Austin all “home.” I serve on multiple advisory boards for organizations and educational institutions. My experience in the design industry includes:
  <ul>
    <li>working in advertising,</li>
    <li>teaching at a university,</li>
    <li>running academic operations at code/design boot camps,</li>
    <li>building diversity and inclusion initiatives at multiple organizations,</li>
    <li>managing national scholarships,</li>
    <li>consulting clients from inception through launch,</li>
    <li>and working in the startup and tech industry.</li>
  </ul>
</p>
<p>
  Because of these different experiences, I write and speak about web and product design, diversity, inclusion, equity, tech and design education, and design research and process. Currently, I’m taking a break from management, and working as a Senior Product Designer at <a href="https://www.netlify.com">Netlify</a>, which my site is deployed through.
</p>
</article>