<h1> Hi, I’m Sameera. I’m a product designer, speaker, and author based in Austin, TX.</h1>

<p>My design experience includes: advertising, startups, private and public design education, DEI initiatives, executive leadership, advisory boards, consulting, and product design and development. These different experiences inform my writing and speaking.
</p>
<p>
  I call Bombay, Curaçao, and Austin all “home” and I'm a staff product designer at <a href="https://www.netlify.com/">Netlify</a>.
</p>