<h1> Recently clipped </h1>
<section class="recent-clips">
	<ul>
	{% for clip in clipslist | reverse %}
	<li>
		<article{% if clip.url == url %} data-current="current item"{% endif %} >
						<span>
				<time datetime="{{ clip.date | machineDate }}">
					{{ clip.date | readableDate }}
				</time>
			</span>
			<div>
			<h3>
				<a href="{{ clip.url | url }}">
					{% if clip.data.title %}
						{{ clip.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			
			</div>
		</article>
		</li>
	{% endfor %}
	</ul>
</section>
