<footer>
  <div class="inner">
    <span>Built on this <a href="https://eleventy-netlify-boilerplate.netlify.app/">11ty boilerplate</a> and deployed with <a href="https://www.netlify.com">Netlify</a>, where I work! </span>
  
    <span>
      <a href="https://abookapart.com/products/inclusive-design-communities">Book</a> /
      <a href="/clips">Clips</a> /
      <a href="https://samkapila.com/feed.xml">RSS</a> / 
      <a href="https://buttondown.email/samkap">Newsletter</a> / 
      <a rel="me" href="https://front-end.social/@samkap">Mastodon</a> / 
      <a rel="me" href="https://github.com/samkap" authn>Github</a>
      </span>

      <span>&copy; 2006 – {{ helpers.currentYear() }} Sam Kapila. </span>
  </div>
</footer>
