<footer>
  <div class="inner">
    <span>&copy;2022 Sam Kapila <a href="https://samkapila.com/feed.xml">RSS</a>. Built on <a href="https://eleventy-netlify-boilerplate.netlify.app/">11ty boilerplates</a> and deployed with <a href="https://www.netlify.com">Netlify</a>, where I work! </span>
  </div>
</footer>
