<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }} » Sameera Kapila </title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/style.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  <link rel="alternate" href="feed.xml" type="application/atom+xml" title="Sam Kapila's writing">

  <!-- og tags -->
<meta property="og:site_name" content="{{ metadata.title }}">
<meta property="og:title" content="{{ renderData.title or title or metadata.title }} » Sameera Kapila">
<meta property="og:locale" content="en_US">  
{% if page.cover-image %}
<meta property="og:image" content="{{ metadata.url }}/static/img/posts/{{ post.cover-image }}"> {% else %}
<meta property="og:image" content="{{ metadata.url }}/static/img/samkap,w_200.jpg"> {% endif %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
<meta property="og:description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
  <meta name="twitter:creator" content="@samkap" />
 <meta property="twitter:image" content="{{ metadata.url }}/static/img/samkap,w_200.jpg">
  <meta name="twitter:site" content="@samkap" />
  <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ metadata.title }}{% endif %}" />
<meta name="twitter:card" content="summary" />
</head>
