<section class="post-list">
<ul>
	{% for post in collections.posts | reverse %}
	<li>
			<span>
				<time datetime="{{ post.date | machineDate }}">
					{{ post.date | readableDate }}
				</time>
			</span>
			
			<h2>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h2>
		</li>	
	{% endfor %}
	</ul>
</section>
