<section class="post-list">

	{% for post in collections.post | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %} >
			<span>
				<time datetime="{{ post.date | machineDate }}">
					{{ post.date | readableDate }}
				</time>
			</span>
			<div>
			
			<h2 class="lh-short">
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h2>
			</div>
		</article>
	{% endfor %}
</section>
