---
layout: layouts/base.njk
section: about
permalink: /about/index.html
---

<section class="about-container">
  <div>
    <picture>
      <img
      sizes="(max-width: 1038px) 100vw, 1038px"
      srcset="/static/img/samkap,w_200.jpg 200w,
      /static/img/samkap,w_502.jpg 502w,
      /static/img/samkap,w_699.jpg 699w,
      /static/img/samkap,w_829.jpg 829w,
      /static/img/samkap,w_1038.jpg 1038w"
      src="/static/img/samkap,w_699.jpg"
      alt="It's me, Sam!" role="img">
    </picture>
</div>
<div>
 {% include "components/about.njk" %}
</div>
</section>

<div class="select-container">
    {{ layoutContent | safe }}
</div>