---
layout: layouts/base.njk
section: about
permalink: /about/index.html
---

<section class="about-container">
  <div>
    <picture>
      <img
      sizes="(max-width: 678px) 100vw, 687px"
      srcset="/static/img/samkap,w_200.png 190w,
      /static/img/samkap,w_377.png 377w,
      /static/img/samkap,w_506.png 506w,
      /static/img/samkap,w_687.png 687w"
      src="/static/img/samkap,w_687.png"
      alt="It's me, Sam!" role="img">
    </picture>
</div>
<div>
 {% include "components/about.njk" %}
</div>
</section>

<div class="select-container">
    {{ layoutContent | safe }}
</div>