<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="{{ section }}">

		<header>
		<div class="logo-container">
			<div class="logo">
					<a href="{{ '/' | url }}">{% include "components/logo.njk" %}</a>
			</div>
			<span> Sameera Kapila</span>
		</div>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
