<!doctype html>
{% set socialImage %}
{%- resoc
      template = "default",
      slug = (title or metadata.title) | slug,
      values = {
        title: title or metadata.title,
        description: description or metadata.description
      }
-%}
{% endset %}

<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="{{ section }}">

		<header>
		<div class="logo-container">
			<div class="logo">
					<a href="{{ '/' | url }}" aria-label="A logo for Sam Kapila, which is an altered ampersand made to look like the letters S and K.">{% include "components/logo.njk" %} </a>
			</div>
		</div>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
