---
layout: layouts/base.njk
section: book
---

<div class="inner">

     <h1>Inclusive Design Communities</h1>
       <p>I wrote a book with my dream publisher about environments within the design community that we can make more inclusive to all types of identities. Released October 4th, 2022 with A Book Apart.</p>

	<section class="book-main">
		<div class="book-container">
			<a href="https://abookapart.com/products/inclusive-design-communities">
				<div class="sticker-container">
					<div class="book-sticker">
					</div>
					<div class="book-sticker__text">
						<p>Buy<br>now!</p>
					</div>
				</div>
			</a>
			<div class="book-cover"></div>
		</div>
		<div class="book-caption">

     <h2>About the book</h2>

<p>What does it mean to be a member of a community? And how do we ensure that our communities—from classrooms to workplaces to meetups—are welcoming to all who want to be a part of them?</p>

<p>I answer those questions and more by examining how our identities intersect with our design practices. Whether you’re a student, educator, practicing designer, manager, recruiter, mentor, or organizer, you’ll learn to notice subconscious bias, interrogate your values, and actively create welcoming spaces for all. Inclusive Design Communities will empower you to build the design industry you want to see—the one we all deserve.</p>
		</div>
	</section>

{{ layoutContent | safe }}

</div>