---
layout: layouts/base.njk
section: Clips
permalink: /clips/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set clipslist = collections.clips %}
{% include "components/postslist.njk" %}
