---
layout: layouts/base.njk
section: bookmarks
---

<article>
  <h1 class="clips-header">{{ title }}</h1>

  <span>
    <small>
      <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
    </small>
  </span>

  {{ layoutContent | safe }}

  <nav>
  <a href="{{ '/clips/' | url }}">← Clips</a>
</nav>
</article>

