---
layout: layouts/base.njk
section: clip
---

<article>
  <h1>{{ title }}</h1>

  <span>
    <small>
      <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
    </small>
  </span>

  {{ layoutContent | safe }}
</article>

