---
layout: layouts/base.njk
section: home
---
<div class="greeting">
	{{ layoutContent | safe }}
</div>
<div class="inner">
	<section class="book-main">
		<div class="book-container">
			<a href="https://abookapart.com/products/inclusive-design-communities">
				<div class="sticker-container">
					<div class="book-sticker">
					</div>
					<div class="book-sticker__text">
						<p>Order<br>now!</p>
					</div>
				</div>
			</a>
			<div class="book-cover"></div>
		</div>
		<p class="book-caption">I wrote a book with my dream publisher about environments within the design community that we can make more inclusive to all types of identities. Released October 4th, 2022.</p>
	</section>
</div>
	<div class="recent-posts">
		<h2>Recent posts</h2>
		<ul>
		{%- for post in collections.post | reverse -%}
			{% if loop.index0 < 4 %}
			<li>
				<article>
					<time datetime="{{ post.date | machineDate }}">
						{{ post.date | readableDate }}
					</time>
					<h3>
						<a href="{{ post.url | url }}">{{ post.data.title }}</a>&nbsp;
					</h3>
					<p>{{ post.data.content | excerpt }}&nbsp;</p>
				</article>
				</li>
			{% endif %}
		{%- endfor -%}
		</ul>
</div>
