---
layout: layouts/base.njk
section: home
---
<div class="greeting">
	{{ layoutContent | safe }}
</div>

<section class="recent-container">

	<div class="recent-other">
		<div class="book-container">
			<div class="sticker-container">
				<div class="book-sticker">
				</div>
				<div class="book-sticker__text">
				<p>Soon!</p>
				</div>
			</div>
			<div class="book-cover">
				<span>This page intentionally left blank. Pre-orders open Sept 7.</span>
			</div>
			<p class="book-caption">I'm writing a book that comes out <strong>Fall 2022<strong>.</p>
		</div>
	</div>

	<div class="recent-posts">
		<h2>Recent writing</h2>
		<ul>
		{%- for post in collections.post | reverse -%}
			{% if loop.index0 < 5 %}
			<li>
				<article{% if post.url == url %} data-current="current item"{% endif %} >
					<h3>
						<a href="{{ post.url | url }}">{{ post.data.title }}</a>&nbsp;
						<time datetime="{{ post.date | machineDate }}">
							<small>{{ post.date | readableDate }}</small>
						</time>
					</h3>
					<p>{{ post.data.content | excerpt }}&nbsp;</p>
				</article>
				</li>
			{% endif %}
		{%- endfor -%}
		</ul>
	</div>

<section>