---
layout: layouts/base.njk
section: page
---

		{% set socialImage %}
{%- resoc
      template = "default",
      slug = (title or metadata.title) | slug,
      values = {
        title: title or metadata.title,
        description: description or metadata.description
      }
-%}
{% endset %}

<h1>{{ title }}</h1>

{{ layoutContent | safe }}
