---
layout: layouts/base.njk
section: post
---

<article class="posts">
  <h1>{{ title }}</h1>
  <span>
    <small>
      <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
    </small>
  </span>

  {{ layoutContent | safe }}

<div class="tags">
  {% if tags %}
   <span><small>Filed under:</small></span>

    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </span>
  {% endif %}
</div>
</article>

<nav class="pagination">
  <a href="{{ '/writing/' | url }}">← Back to writing</a>
</nav>
